%div{:style => "border: 2px solid red"}
  =link_to "Create #{params[:name]}", "/add_member/-1/to_band/#{params[:band]}?name=#{params[:name]}", :remote => true
- if @users
  - for user in @users
    %div{:style => "border: 2px solid red"}
      - if user.image
        %img{:src => user.image, :width => 50, :height => 50, :align => 'left'}
        %br
      = user.full_name
      %br
      = user.location
      %div{:float => 'right'}
        =link_to 'Add', "/add_member/#{user.id}/to_band/#{params[:band]}", :remote => true
