- if @user
  %h3= @user.full_name
  
  - if @user.image
    %img{ :src => @user.image, :align => "right" }
  
  %p
    <b>Location</b>
    <br />
    =@user.location

  %p
    <b>Instrument</b>
    <br />
    =@user.instrument
  
  %p
    <b>Description</b>
    <br />
    =@user.description
    
  %p
    <b>On Endcap For</b>
    <br />
    #{time_ago_in_words(@user.created_at)}

  - if @user.band_memberships
    %h3 Bands
    %ul
      - @user.band_memberships.find(:all, :conditions => ["band_id is not null"]).each do |member|
        - if member and member.band_id
          %li{:class => member.end_date && member.end_date.year < Time.new.year ? "old_member" : "current_member"}
            =link_to member.band.name, member.band
            (
            = member.start_date ? member.start_date.year : "ever"
            to
            = member.end_date ? member.end_date.year : "now"
            )
  - if @user.events
    %h3 Events
    %ul
    - @user.events.each do |event|
      %li
        =link_to event.name, event
        =event.time
        - if event.venue
          at
          =link_to event.venue.name, event.venue
          
  - if @user.albums
    %h3 Albums
    %ul
    - @user.albums.each do |album|
      %li
        =link_to album.name, album
        - if album.band_id
          with
          =link_to album.band.name, album.band
        - if album.year
          (
          = album.year
          )
        - if album.songs and album.songs.count > 0
          %ol
            - album.songs.first(4).each do |song|
              %li
                =link_to song.name, song