
#profile
  .wrapper
    %div{:id => "profile1"}
      - if @user && @user.image
        %img{ :src => @user.image, :align => "right" }
      %p
        - if @user
          =@user.description

    %div{:id => "profile2"}
      #top
        - if @user
          %h3= @user.full_name
          %p#subtitle= @user.instrument
          
          - if @user.superuser?
            %p Superuser
          - elsif @user.editor?
            %p
              Editor
          - if !@user.superuser? && current_user.superuser?
            %p 
              Admin: promote to [
              = link_to "editor", admin_promote_editor_path(@user)
              ]
              [
              = link_to "superuser", admin_promote_superuser_path(@user)
              ]
            
          %p= @user.location
          - if @user && @user.band_memberships
            %ul
              - @user.band_memberships.find(:all, :conditions => ["band_id is not null"]).each do |member|
                - if member and member.band
                  %li{:class => member.end_date && member.end_date.year < Time.new.year ? "old_member" : "current_member"}
                    =link_to member.band.name, member.band
                    (
                    = member.start_date ? member.start_date.year : "ever"
                    to
                    = member.end_date ? member.end_date.year : "now"
                    )
        #bottom
          - if @user && @user.events
            %h3 Events
            %ul
              - @user.events.each do |event|
                %li
                  =link_to event.name, event
                  =event.time
                  - if event.venue
                    at
                    =link_to event.venue.name, event.venue
        

    %div{:id => "profile3"}
      %h3 Discography
    
      - @user.albums.each do |album|
        %div#album
          %a{ :href => "/albums/#{album.id}" }
            %img{ :src => album.image, :height => "115", :width => "115" }
            %p
              =album.name
                  
      %ul
        - if @user.albums
          - @user.albums.each do |album|
            - if album.songs and album.songs.count > 0
              - album.songs.first(1).each do |song|
                %li
                  %h4
                    =song.name
                  - if song.mp3
                    %audio{:src => "/mp3/#{song.mp3}", :controls => "controls"}
%script{:type => "text/javascript"}
  mpq.push(["track", "Load show user page"]);