= form_for @song, :html => { :multipart => true} do |f|
  -if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :band_id
    = f.select("band_id", Band.all.collect { |u| [ u.name, u.id ] }, {:include_blank => 'Select a Band'})
  .field
    = f.label :album_id
    = f.select("album_id", {'No Album' => ''}, { :disabled => ''} )
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :mp3
    = f.file_field :mp3
  .actions
    = f.submit 'Save'
