
#listing
  %h1 Venues

  - if !@venues.empty?
    %table
      %tr
        %th Name
        %th Address
        %th 
        %th Hours
        %th Homepage
        %th Image
        %th 

      - @venues.each do |venue|
        %tr
          %td= link_to venue.name, venue
          %td= venue.location
          %td
            =venue.city
            , 
            =venue.state
          %td= venue.hours
          %td= venue.homepage
          %td
            %img{ :src => venue.image, :align => "right", :width => "45px", :height => "45px" }
          %td
            - if current_user && current_user.staff?
              = link_to 'Show', venue
              = link_to 'Edit', edit_venue_path(venue)
              = link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete

  - if @venues.empty?
    %p
      No venues found.
  %br
    - if current_user && current_user.staff?
      = link_to 'New Venue', new_venue_path

%script{:type => "text/javascript"}
  mpq.push(["track", "Load show all venues page"]);