= form_for @band, :html => { :multipart => true} do |f|
  -if @band.errors.any?
    #error_explanation
      %h2= "#{pluralize(@band.errors.count, "error")} prohibited this band from being saved:"
      %ul
        - @band.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_year
    = f.text_field :start_year
  .field
    = f.label :end_year
    = f.text_field :end_year
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.select :state, ['AK',
    			'AL',
    			'AR',
    			'AZ',
    			'CA',
    			'CO',
    			'CT',
    			'DC',
    			'DE',
    			'FL',
    			'GA',
    			'HI',
    			'IA',
    			'ID',
    			'IL',
    			'IN',
    			'KS',
    			'KY',
    			'LA',
    			'MA',
    			'MD',
    			'ME',
    			'MI',
    			'MN',
    			'MO',
    			'MS',
    			'MT',
    			'NC',
    			'ND',
    			'NE',
    			'NH',
    			'NJ',
    			'NM',
    			'NV',
    			'NY',
    			'OH',
    			'OK',
    			'OR',
    			'PA',
    			'RI',
    			'SC',
    			'SD',
    			'TN',
    			'TX',
    			'UT',
    			'VA',
    			'VT',
    			'WA',
    			'WI',
    			'WV',
    			'WY'], 
    			:include_blank => false
  .field
    = f.label :genre
    = f.text_field :genre
  .field
    = f.label :homepage
    = f.text_field :homepage
  .field
    = f.label :store_url
    = f.text_field :store_url
  .field
    = f.label :twitter
    @
    = f.text_field :twitter
  .field
    = f.label :facebook
    = f.text_field :facebook
  .field
    = f.label :myspace
    = f.text_field :myspace
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'

%h3 Members
.field
  - @band.band_memberships.each do |member|
    - if member.user
      %li{:class => member.end_date && member.end_date.year < Time.new.year ? "old_member" : "current_member"}
        = member.user.full_name
        = member.start_year
        to 
        =member.end_year
        (<a href="/deletemembership?band=#{@band.id}&amp;membership=#{member.id}">delete</a>)
= form_tag('/artist_by_name/', :method => :get, :remote => true) do
  .field
    %input{:type => "text", :id => "name", :name => "name"}
    %input{:type => "hidden", :name => "band", :value => @band.id}
    = submit_tag 'Search'
    %div{:id => 'search_results'}