= form_for @band do |f|
  -if @band.errors.any?
    #error_explanation
      %h2= "#{pluralize(@band.errors.count, "error")} prohibited this band from being saved:"
      %ul
        - @band.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_year
    = f.text_field :start_year
  .field
    = f.label :end_year
    = f.text_field :end_year
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :homepage
    = f.text_field :homepage
  .field
    = f.label :store_url
    = f.text_field :store_url
    
    %h3 Members
    .field
      - @band.band_memberships.each do |member|
        - if member.user
          %li.member
            = member.user.full_name
            =member.start_date || 'ever'
            to 
            =member.end_date || 'now'
           

            (<a href="/deletemembership?band=#{@band.id}&amp;membership=#{member.id}">delete</a>)
    .field
      = f.select("band_memberships", User.all.collect { |u| [ u.full_name, u.id ] }, {:include_blank => 'Add New Member'} )
    
  .actions
    = f.submit 'Save'
