

#listing
  %h1 Bands
  - if !@bands.empty?
    %table
      %tr
        %th Name
        %th Start year
        %th End year
        %th Location
        %th Genre
        %th Homepage
        %th

      - @bands.each do |band|
        %tr
          %td= link_to band.name, band
          %td= band.start_year
          %td= band.end_year
          %td
            - unless band.city.empty?
              =link_to band.city, bands_by_state_and_city_path(band.state, band.city)
              , 
            =link_to band.state, bands_by_state_path(band.state)
          %td
            -if !band.genre.empty?
              =link_to band.genre, bands_by_genre_path(band.genre)
          %td= band.homepage
          %td.links
            - if current_user && current_user.staff?
              =link_to 'Edit', edit_band_path(band)
              =link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete
  - if @bands.empty?
    %p
      No bands found.
  %br
    - if current_user && current_user.staff?
      = link_to 'New Band', new_band_path

%script{:type => "text/javascript"}
  mpq.push(["track", "Load show all bands page"]);