%p#notice= notice


- if @band.image
  %img{ :src => @band.image, :align => "right" }

%h3
  = @band.name
  
%p
  <a href="/bands?city=#{@band.city}&amp;state=#{@band.state}">#{@band.location}</a>
  
%p
  %b Start year:
  = @band.start_year
%p
  %b End year:
  = @band.end_year
%p
  %b City:
  = @band.city
%p
  %b State:
  = @band.state
%p
  %b Genre:
  <a href="/bands?genre=#{@band.genre}">#{@band.genre}</a>
%p
  %b Homepage:
  <a href="#{@band.homepage}">#{@band.homepage}</a>
%p
  %b Store url:
  <a href="#{@band.store_url}">#{@band.store_url}</a>

%p
  %b Band Bio:
  = @band.description

%h3 
  Members
%ul
  - @band.band_memberships.each do |member|
    - if member.user
      %li{:class => member.end_date && member.end_date.year < Time.new.year ? "old_member" : "current_member"}
        =link_to member.user.full_name, member.user
        - if member.user.instrument
          (
          = member.user.instrument
          )
        from 
        =member.start_date && member.start_date.year || 'ever'
        to 
        =member.end_date && member.end_date.year || 'now'

%h3 Albums
%ul
  - @band.albums.sort_by(&:year).each do |album|
    %li
      =album.year
      =link_to album.name, album

<!--= link_to 'New Album', new_album_path("?id=#{@band.id}")-->
<a href="/albums/new/?id=#{@band.id}">New Album</a>

= link_to 'Edit', edit_band_path(@band)
\|
= link_to 'Back', bands_path