%p#notice= notice

%h3
  = @band.name
%p
  %b Start year:
  = @band.start_year
%p
  %b End year:
  = @band.end_year
%p
  %b City:
  = @band.city
%p
  %b State:
  = @band.state
%p
  %b Description:
  = @band.description
%p
  %b Homepage:
  = @band.homepage
%p
  %b Store url:
  = @band.store_url

%h3 
  Members
%ul
  - @band.band_memberships.each do |member|
    - if member.user
      %li
        =link_to member.user.full_name, member.user
        from 
        =member.start_date || 'ever'
        to 
        =member.end_date || 'now'

= link_to 'Edit', edit_band_path(@band)
\|
= link_to 'Back', bands_path
