= form_for @festival do |f|
  -if @festival.errors.any?
    #error_explanation
      %h2= "#{pluralize(@festival.errors.count, "error")} prohibited this festival from being saved:"
      %ul
        - @festival.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
