%h1==Login
- @title = "Login"

= form_for(@user_session) do |f|
  = errors(@user_session)
  %p
    = f.label :email
    %br
    = f.text_field :email, :id => "email"
  
  %p
    = f.label :password
    %br
    = f.password_field :password, :id => "password"
    
  %p
    = f.label :remember_me, "Remember me?"
    = f.check_box :remember_me, {}, "true", "false"
  
  %p
    = f.submit 'Login'
    
%script{:type => "text/javascript"}
  mpq.push(["track", "Load login page"]);