!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    - title = "#{@title} — " if @title
    %title= "#{title}#{CONFIG['name']}"
    = csrf_meta_tag
    = stylesheet_link_tag 'application', :cache => true
    = javascript_include_tag "jquery-1.4.2.min", "rails", "application", :cache => true
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "http://stan-js.googlecode.com/hg/version/0.1/stan.min.js"}
        == IE7_PNG_SUFFIX = '.png';

%body
  #header
    .wrapper
      #logo
        =link_to CONFIG['name'], root_url
        #info
          - if current_user
            %span.welcome
              = link_to "Hello there, #{current_user.first_name}!", current_user, :style => "height: 25px; display: block"
              %br

            == #{link_to "Logout", logout_path} #{ link_to "Edit Profile", edit_user_path(:current) }
          - else
            == #{ link_to "Signup", signup_path } #{ link_to "Login", login_path }
          == #{link_to "Bands", bands_path}
          == #{link_to "Albums", albums_path}
          == #{link_to "Venues", venues_path}
          == #{link_to "Events", events_path}
    #nav
      .wrapper
        .menu
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-story.png", :alt => "story"}
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-what.png", :alt => "what's endcap"}
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-bands.png", :alt => "bands&artists"}
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-story.png", :alt => "story"}
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-sponsor.png", :alt => "sponsor"}
          %a{:href => "#"}
            %img#navitem{:src => "/images/nav-talk.png", :alt => "talk to us"}

  #content
    - if yield
      ~ yield

      #actioncontent
        .wrapper
          %img{:src => "/images/idared-ad.png", :id => "mainsponsor"}
          %img{:src => "/images/bands-callout.png", :id => "bandscallout"}

              
  #footer
    .wrapper
      %div{:id => "followbox"}
        %img{:src => "/images/endcap-follow.png"}
        %p
          Twitter:
          %a{:href => "http://twitter.com/swendcap", :target => "_blank"}@swendcap
        %p
          Facebook:
          %a{:href => "http://www.facebook.com/pages/Tulsa-OK/EndCap/117352558328843", :target => "_blank"}facebook.com/endcap
    
      %div{:id => "propsbox"}
        %img{:src => "/images/endcap-madprops.png"}
        %p
          The Totally Badass Endcap Team is:
          %p{:id => "teamlist"}
            TJ Clark <br />
            Adam Brown <br />
            Terry Gamel <br />
            John Jackson <br />
            Carlos Moreno <br />
            Jon Evans <br />
            Daniel Hampton <br />
      
              
      %div{:id => "bigups"}
        %img{:src => "/images/endcap-bigups.png"}
      
        %p
          StartupWeekend Tulsa
          Kauffman Foundation &amp; the Global Startup Battle
        %p
          Scott Phillips, Isocentric Networks &amp; all the local StartupWeekend Tulsa sponsors
        %p
          All the awesome developer teams &amp; other peeps who participated in this event with us in Tulsa, and all over the world.


