!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    - title = "#{@title} — " if @title
    %title= "#{title}#{CONFIG['name']}"
    = csrf_meta_tag
    = stylesheet_link_tag 'application', :cache => false
    = javascript_include_tag "jquery-1.4.2.min", "rails", "application", "formalize", :cache => true

    %script{:type => "text/javascript", :src => "http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"}
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "http://stan-js.googlecode.com/hg/version/0.1/stan.min.js"}
        == IE7_PNG_SUFFIX = '.png';
    %script{:type => "text/javascript"}
      var mpq = [];
      mpq.push(["init", "9dfd1580dbb139f7fbb845fddc489afd"]);
      (function() {
      var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
      mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(mp, s);
      })();
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
  %body
    #header
      .wrapper
        #logo
          =link_to CONFIG['name'], root_url
          #info
            - if current_user
              %span.welcome
                %a{:href => show_artist_path(current_user), :style => "height: 90px" }
                  %img{:src => current_user.image ? current_user.image : "/images/defaults/default_artist_profile_image.jpg", :width => 65, :height => 90}
                = link_to "#{current_user.full_name}", show_artist_path(current_user), :style => "height: auto"
                %br{:clear => "right"}
                = link_to "Edit", edit_artist_path(current_user), :style => "height: auto; width: auto;"
                %br{:clear => "right"}
                = link_to "Logout", logout_path, :style => "height: auto; float: right"
            - else
              == #{ link_to "Signup", signup_path } #{ link_to "Login", login_path }

      #main-nav
        .wrapper
          %ul#menu-main.menu
            %li.menu-item
              = link_to "what's endcap?", what_is_endcap_path
            %li.menu-item
              = link_to "bands", bands_path
            %li.menu-item
              = link_to "artists", artists_path
            %li.menu-item
              = link_to "venues", venues_path
            %li.menu-item
              = link_to "albums", albums_path
            %li.menu-item
              = link_to "songs", songs_path
            %li.menu-item
              = link_to "events", events_path
            %li.menu-item
              = link_to "talk to us", talk_to_us_path

    #content
      - if yield
        ~ yield

        #actioncontent
          .wrapper
            %img{:src => "/images/idared-ad.png", :id => "mainsponsor"}
            %img{:src => "/images/bands-callout.png", :id => "bandscallout"}

              
    #footer
      .wrapper
        %div{:id => "followbox"}
          %img{:src => "/images/endcap-follow.png"}
          %p
            Twitter:
            %a{:href => "http://twitter.com/swendcap", :target => "_blank"}@swendcap
          %p
            Facebook:
            %a{:href => "http://www.facebook.com/pages/Tulsa-OK/EndCap/117352558328843", :target => "_blank"}facebook.com/endcap
    
        %div{:id => "propsbox"}
          %img{:src => "/images/endcap-madprops.png"}
          %p
            The Totally Badass Endcap Team is:
            %p{:id => "teamlist"}
              TJ Clark <br />
              Adam Brown <br />
              Terry Gamel <br />
              John Jackson <br />
              Carlos Moreno <br />
              Jon Evans <br />
              Daniel Hampton <br />
      
              
        %div{:id => "bigups"}
          %img{:src => "/images/endcap-bigups.png"}
      
          %p
            StartupWeekend Tulsa
            Kauffman Foundation &amp; the Global Startup Battle
          %p
            Scott Phillips, Isocentric Networks &amp; all the local StartupWeekend Tulsa sponsors
          %p
            All the awesome developer teams &amp; other peeps who participated in this event with us in Tulsa, and all over the world.
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19855596-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();